.header-spacing {
  height: 24px;
  padding: 5px 5px;
  font-size: 10px;
  opacity: 100%;
  background-color: white;
}

body {
  padding: auto;
  margin: auto;
}

.footer {
  background-color: #ccc;
  width: 100%;
  height: 60px;
  padding-bottom: 5px;
  margin-top: -2px;
}

img {
  opacity: 0.4;
}

.jumbobox {
  text-align: center;
  color: white;
  animation: jux 5s infinite;
}

md-content {
  padding-top: 60px;
  height: 550px;
}

a {
  color: grey;
}

a:hover {
  color: teal;
}

body,
md-content {
  background-image: url('./../images/background1.png');
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 5px 0;
  &.md-padding {
    margin: 0;
  }
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
@keyframes jux {
  from {
    color: grey;
  }

  to {
    color: white;
  }
}
.box {
  height: 60%;
  width: 40%;
  font-size: 35px;
  margin: 0 auto;
  padding-top: 10px;
  line-height: 1.5em;
  color: white;
  animation: jux 5s infinite;
  font-family: Playball;
}
h1.md-button.md-raised.md-primary {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #ccc;
  color: teal;
}
h2 > a,
div > h4 {
  font-family: Courgette;
  font-size: 20px;
  text-align: center;
}
div > h4,
div > md-button {
  margin: 0 auto;
  padding-bottom: 10px;
}
.footer {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  margin-top: 60px;
}
input {
  border: 0;
}
.sign-up-wrap {
  margin: 8px auto;
  width: 450px;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 10px;
  color: black;
  opacity: 100%;
  position: relative;
}
