.header-spacing {
  height: 50px;
  padding: 5 5px;
  font-size: 5px;
  opacity: 100%;
  background-color: white;
}

.md-icon-button {
  color: whitesmoke;
}

body {
  padding: auto;
  margin: auto;
}

.footer {
  background-color: #ccc;
  width: 100%;
  height: 60px;
  padding-bottom: 5px;
  margin-top: -2px;
}

.jumbobox {
  text-align: center;
  color: #585252;
  flex: display;
}

md-content {
  padding-top: 50px;
  height: 450px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 5px 0;
  &.md-padding {
    margin: 0;
  }
}

.box {
  height: 100px;
  width: 40%;
  font-size: 1.6em;
  margin: auto;
  padding-top: 10px;
  line-height: 1.5em;
}

h1.md-button.md-raised.md-primary {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #f00;
}
