.sign-up-wrap(ng-cloak="" ng-init="init()")
  div(layout layout-padding layout-align="center center")
    form(Name="signup" method="post" ng-submit="createUser()")
      div(layout="row" layout-margin layout-align="center center")
        h3.sign-up-header Sign Up
      div(layout-gt-sm="row" layout="column" flex)
        md-input-container.md-block(flex)
          md-icon(md-font-set="fa fa-user")
          input( ng-model="user.firstName" name="firstName" placeholder="FirstName" ng-pattern="/^([a-zA-Z])[a-zA-Z\-]+$/" required)
          div.messages(ng-messages="signup.firstName.$invalid"  ng-show="signup.firstName.$touched")
            div(ng-if="signup.firstName.$invalid && signup.firstName.$dirty") This is required!
        md-input-container.md-block(flex)
          md-icon(md-font-set="fa fa-user")
          input( ng-model="user.lastName" name="lastName" placeholder="LastName" ng-pattern="/^([a-zA-Z])[a-zA-Z\-]+$/" required)
          div.messages(ng-messages="signup.lastName.$invalid && signup.lastName.$dirty")
            div(ng-if="signup.lastName.$invalid && signup.lastName.$dirty") This is required!
      div(layout-gt-sm="row" layout="column" flex)
        md-input-container.md-block(flex)
          md-icon(md-font-set="fa fa-user")
          input(ng-model="user.userName" name="userName" placeholder="Username" required ng-pattern="/^([a-zA-Z])[a-zA-Z0-9._]+$/")
          div.messages(ng-messages="signup.userName.$invalid && signup.userName.$di rty")
            div(ng-if="signup.userName.$invalid && signup.userName.$dirty") This is required!
        md-divider(style="border-size: 4px")
        md-input-container.md-block(flex)
          md-select(ng-model="user.role" type="text" name="role" placeholder="Select role" required)
            md-option(ng-repeat="role in roles" ng-selected="role.title") {{role.title}}
          div.messages(ng-messages="signup.role.$invalid && signup.role.$dirty")
            div(ng-if="signup.role.$invalid && signup.role.$dirty") This is required!
      md-input-container.md-block
        md-icon(md-font-set="fa fa-envelope")
        input(ng-model="user.email" name="email" type="email" placeholder="youremail@email.com" required ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/")
        div.messages(ng-messages="signup.email.$invalid && signup.email.$touched")
          div(ng-if="signup.email.$invalid && signup.email.$dirty") This is required!
      md-input-container.md-block
        md-icon(md-font-set="fa fa-key")
        input(ng-model="user.password" name="password" type="password" aria-label="password" required minlength="8" placeholder="Password")
        div.messages(ng-messages="signup.password.$invalid && signup.password.$dirty")
          div(ng-if="signup.password.$invalid && signup.password.$dirty") Your password must not be less than 8 characters
      md-input-container.md-block
        md-icon(md-font-set="fa fa-key")
        input(ng-model="user.confirmPassword" type="password" placeholder="Confirm password" name="confirmPassword" match="user.password" required)
        div.messages(ng-messages="signup.confirmPassword.$invalid && signup.confirmPassword.$dirty")
          div(ng-if="signup.confirmPassword.$touched && signup.confirmPassword.$modelValue !== signup.password.$modelValue && signup.confirmPassword.$dirty") Password doesn't match
      p.link {{status}}
      div.md-margin.signup-button(layout="column" layout-padding)
        md-button.md-raised.md-accent(type="submit" ng-disabled="signup.$invalid || (signup.confirmPassword.$modelValue !== signup.password.$modelValue)") Sign Up
        h5 Already registered? &nbsp;
          a(ng-click="login()") Login
