.dashboard-wrapper(ng-if="loggedInUser" layout="row" flex)
  md-sidenav(class="md-sidenav-left md-whiteframe-z2" md-component-id="left" layout="column" md-is-locked-open="$mdMedia('gt-md')")
    md-toolbar.md-hue-2.toolbar-header
      span(flex)
      .md-toolbar-tools-bottom.inset(layout="column")
        span
        //- img(gravatar-src="{{loggedInUser.email}}" gravatar-size="35" hide-sm)
        .text-center {{loggedInUser.userName}}
    div.fit(layout="column" flex)
      md-card.fit-margin.ripple-container(md-ink-ripple layout="column" flex layout-align="center center")
        i(class="fa fa-user-secret fa-3x")
        | View Roles
      md-card.fit-margin.ripple-container(md-ink-ripple layout="column" flex layout-align="center center")
        i(class="fa fa-user-plus fa-3x")
        | View Users
      md-card.fit-margin.ripple-container(md-ink-ripple layout="column" flex layout-align="center center" ui-sref="dashboard.all")
        i(class="fa fa-file fa-3x")
        | View Documents
      a(ui-sref="dashboard.editProfile")
        md-card.fit-margin.ripple-container(md-ink-ripple layout="column" flex layout-align="center center")
          i(class="fa fa-pencil-square-o fa-3x" style="color:white")
          | Edit Profile
    div.fit(layout="column" flex ng-if="loggedInUser.role === 'SuperAdmin'")
      div.grid-header
        h4 Admin Panel
      md-card.fit-margin.ripple-container(md-ink-ripple layout="column" flex layout-align="center center" ui-sref="admin({id:loggedInUser._id})")
        i(class="fa fa-user")
        | Manage Roles
      md-card.fit-margin.ripple-container(md-ink-ripple layout="column" flex layout-align="center center" ng-click="manangeUsers($event)")
        i(class="fa fa-user-secret")
        | Manage Users
      md-card.fit-margin.ripple-container(md-ink-ripple layout="column" flex layout-align="center center" ng-click="manangeDoc($event)")
        i(class="fa fa-list fa-2x")
        | Manage Documents

  .md-padding(flex ui-view="inner-view")
  .md-padding(flaex ui-view="user-view")
