md-content.viewDocs(ng-if="loggedInUser" flex)
  md-button.md-fab.create-document-btn(ui-sref="dashboard.document({id:loggedInUser._id})")
    span.fa.fa-plus.fa-lg
    md-tooltip(md-direction='left') create new document
  div(flex)
    h4.md-padding(ng-if="userDocs.length === 0") It seems you've got no document. Start today
    div(ng-if="userDocs.length > 0" layout="column")
      .preview-header(layout layout-padding) MY DOCUMENTS
      div.doc-container(layout="row" layout-align="start center")
        div.doc-display(ng-repeat="doc in userDocs | orderBy:'-lastModified' track by $index")
          md-card(flex-sm="100%")
            md-card-title.grid-header {{ doc.title }}
            md-divider
            md-card-content.doc-content.md-margin(layout="column" layout-align="start start" layout-padding ng-bind-html="doc.content" class="md-clickable")
            div(layout-align="column")
              div.md-card-actions.doc-operations(layout="row" layout-align="end end")
                i.material-icons(layout-align="end end" ui-sref="dashboard.view-document({docid: doc._id})") pageview
                  md-tooltip click to preview
                i.fa.fa-pencil-square-o(layout-align="end end" ui-sref="dashboard.edit-document({docid: doc._id})")
                  md-tooltip click to edit
              div.preview-footer(flex layout="column" layout-padding)
                h5 Created {{ doc.lastModified | DateFormatter }}
                | by you
    div(layout="row" layout-align="end end")
      md-button.md-primary.page-button(ng-disabled="disablePreviousPage()" ng-click="previousPage()") Prev
      .paginate {{ param.page }} / {{ numberOfPages() }}
      md-button.md-primary.page-button(ng-disabled="disableNextPageUser()" ng-click="nextPage()") Next