.viewDocs(ng-if="loggedInUser" ng-init="init(param)" flex)
  md-button.md-fab.create-document-btn(ui-sref="dashboard.document({id:loggedInUser._id})")
    span.fa.fa-plus.fa-lg
    md-tooltip(md-direction='left') create new document
  div(flex)
    h4.md-padding(ng-if="userDocs.length === 0") It seems you've got no document. Start today
    div(ng-if="userDocs.length > 0" layout="column")
      div.doc-container(layout="row" layout-align="start center")
        div.doc-display(ng-repeat="doc in userDocs | orderBy:'-lastModified' track by $index" flex-xs="100" flex-sm="70" flex-md="100")
          md-card.md-whiteframe-8dp
            md-card-title.md-headline.grid-header {{ doc.title }}
            span.post-info.md-subhead(flex layout="column" layout-padding)
              i.fa.fa-user &nbsp; Created by you
              span {{ doc.lastModified | DateFormatter }}
            md-card-content.doc-content.md-margin(layout="column" layout-padding ng-bind-html="doc.content")
            md-card-actions.md-margin(layout="row" layout-align="end center" layout-padding layout-sm="column")
              md-button.preview-icons(ui-sref="dashboard.view-document({docid: doc._id})") View
              md-button.preview-icons(ui-sref="dashboard.edit-document({docid: doc._id})") Edit
      div.md-margin(layout="row" layout-align="end end")
        md-button.md-primary.page-button(ng-disabled="disablePreviousPage()" ng-click="previousPage()") Prev
        .paginate {{ param.page }} / {{ numberOfPage() || 1 }}
        md-button.md-primary.page-button(ng-disabled="disableNextPageUser()" ng-click="nextPage()") Next