md-content(layout-padding ng-if="loggedInUser")
  md-button.md-fab.create-document-btn(ui-sref="dashboard.document({id:loggedInUser._id})")
    span.fa.fa-plus.fa-lg
    md-tooltip(md-direction='left') create new document
  div(flex)
    h2.md-padding(ng-if="!userDocs") There are currently no documents. Start today
    md-divider(md-inset)

    div(ng-if="userDocs")
      md-content.md-padding
        h3.md-display-2.text-center.admin-header My dashboard
        md-divider
        md-card
          md-table-container
            table(md-table='' style="border:2px")
              thead(md-head='')
                tr(md-row='')
                  th(md-column='', md-text='') DocNo Id
                  th(md-column='', md-text='') Role Assigned
                  th(md-column='', md-text='') Document Ownner
                  th(md-column='', md-text='') Date Created
                  th(md-column='', md-text='') Date Modified
                  th(md-column='', md-text='') Document Title
                  th(md-column='', md-text='') Document Content
                  th(md-column='', md-text='') Authorized Operations
              tbody(md-body='')
                tr(md-row='' ng-repeat="doc in documents")
                  td(md-cell='') {{doc._id}}
                  td(md-cell='') {{doc.role}}
                  td(md-cell='') {{getName(doc.ownerId)}}
                  td(md-cell='') {{doc.createdAt | date:'dd/mm/yyyy'}}
                  td(md-cell='') {{doc.lastModified | date:'dd/mm/yyyy'}}
                  td(md-cell='') {{doc.title}}
                  td(md-cell='') {{doc.content | limitTo:50}}
                  td(md-cell='')
                    i.material-icons(ui-sref="dashboard.view-document({docid:doc._id})") update
                    i.material-icons(ng-click="deleteDocBtn($event, doc)") delete
           md-table-pagination(md-limit="query.limit" md-page="query.page" md-total="{{documents.count()}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination")


