doctype html
html(lang="en" ng-app="docKip")
	head
		title Document Management System
		include shared/head
	body
		base(href="/")
		main
		include shared/header
		ui-view
	footer
		include shared/footer