doctype html
html(lang="en" ng-app="docKip")
  head
    include shared/head
  body
    main
      div(layout="row" flex)
        include views/users/sidenav
        div(layout="column" flex)
          include shared/header
          div(ui-view)
  footer
    include shared/footer