doctype html
html(lang="en" ng-app="docManager")
	head
		title Document Management System
		include shared/head
	body
		base(href="/")
		main
		include shared/header
		md-content(ui-view)
			h1 Welcome here Man
	footer
		include shared/footer