md-toolbar.header-tab.md-whiteframe-z2(flex layout="row" ng-cloak='' padding-layout ng-controller="HeadCtrl")
  .md-toolbar-tools
    i.show-sm.hide-gt-md(class="material-icons" ng-click="toggleList()", aria-label="toggleList") view_headline
    h2
      a(ui-sref="home" layout-padding) DocKip
    span(flex='')
    |  {{loggedInUser.userName}}
    a(ng-if="loggedIn" ui-sref="dashboard({id: loggedInUser._id})")
      md-button.md-icon-button.fit(aria-label="gravatar" layout-wrap fit-margin)
        img(gravatar-src="{{loggedInUser.email}}" gravatar-size="35")
        md-tooltip {{loggedInUser.userName}}
    a(ng-if="loggedIn")
      md-button.md-icon-button(aria-label='logout' ng-click="logoutUser()" layout-wrap)
        i.md-accent.fa.fa-sign-out
        md-tooltip logout
    a(ng-if="!loggedIn" ui-sref="home")
      md-button.md-icon-button(aria-label='login' ng-click="loginUser()" layout-wrap)
        i.md-accent.fa.fa-sign-in
        md-tooltip login
