md-toolbar.header-spacing(flex layout="row")
  .md-toolbar-tools
    md-button.md-icon-button.md-raised(ui-sref="home" aria-label='logo')
      img(src="./images/logo.png" height="24")
    h2
      span(ui-sref="home") Dockip
    span(flex='')
    a(ng-if="!logout()")
      md-button.md-icon-button(aria-label='logout' layout-wrap)
        i.md-accent.fa.fa-sign-out
        md-tooltip logout
    a(ng-if="logout()")
      md-button.md-icon-button(aria-label='login' layout-wrap)
        i.md-accent.fa.fa-sign-in
        md-tooltip login
