meta(charset="utf-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="description" content="Document manager that allows you to keep data with access roles")

// Angular material style
link(rel="stylesheet" href="lib/angular-material/angular-material.min.css")
link(rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css")
link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css")

// custom css
link(rel="stylesheet" type="text/css" href="css/app.min.css")

// Angular material javascript dependencies
script(src="lib/angular/angular.js")
script(src="lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="lib/angular-aria/angular-aria.min.js")
script(src="lib/angular-animate/angular-animate.min.js")
script(src="lib/angular-material/angular-material.min.js")
script(src="lib/angular-resource/angular-resource.min.js")
script(src="lib/angular-route/angular-route.min.js")

// Font Awesome javascript dependency
script(src="lib/font-awesome/css/font-awesome.css")

// custom javascript script
script(src="js/application.js")