md-toolbar.header-tab.md-whiteframe-z2(layout="row" ng-cloak='' ng-controller="HeadCtrl")
  .md-toolbar-tools
    i.hide-gt-md(class="fa fa-bars fa-lg" ng-click="toggleList()", aria-label="toggleList")
    .logo-text(ng-if="!loggedInUser" ui-sref="home") DocKip
    span(flex='')
    md-button.md-icon-button(ng-hide="!loggedInUser" ui-sref="home")
      i.md-accent.fa.fa-home.fa-lg
      md-tooltip home
    a(ng-if="loggedIn" ui-sref="dashboard({id: loggedInUser._id})")
      | {{ loggedInUser.userName }}
      md-tooltip {{ loggedInUser.userName }}
    a(ng-if="loggedIn" ng-hide="!loggedInUser")
      md-button.md-icon-button(aria-label='logout' ng-click="logoutUser()" layout-wrap)
        i.md-accent.fa.fa-sign-out.fa-lg
        md-tooltip logout