md-toolbar.header-spacing(flex layout="row" ng-controller="headCtrl")
  .md-toolbar-tools
    md-button.md-icon-button.md-raised(ui-sref="home" aria-label='logo')
      img(src="images/logo.png" height="24" hide-gt-sm)
    h2
      span Dockip
    span(flex='')
    a(ng-if="!logout()")
      md-button.md-icon-button(aria-label='logout' layout-wrap)
        span logout
        i.md-accent.fa.fa-sign-out
        md-tooltip logout
    a(ng-if="logout()")
      md-button.md-icon-button(aria-label='login' layout-wrap)
        i.md-accent.fa.fa-sign-in
        span login
        md-tooltip login
