md-toolbar.header-spacing(flex layout="row" ng-cloak='')
  .md-toolbar-tools
    h2
      a(ui-sref="home") DocKip
    span(flex='')
    a(ng-if="!logout()")
      md-button.md-icon-button(aria-label='logout' layout-wrap)
        i.md-accent.fa.fa-sign-out
        md-tooltip logout
    a(ng-if="logout()")
      md-button.md-icon-button(aria-label='login' layout-wrap)
        i.md-accent.fa.fa-sign-in
        md-tooltip login
