.admin-page
  div(ng-cloak)
    md-content.dash
      md-tabs(md-dynamic-height, md-border-bottom md-selected="selectedIndex")
        md-tab(label='ROLES')
          div(layout="row" style="background: whitesmoke")
            div.md-title.md-margin.text-center.admin-header(flex) ROLES DASHBOARD
            .admin-search-bar(layout="row" layout-align="end end")
              input(type="text" ng-model="searchBox" placeholder="Search role")
          md-content.md-padding(layout-align="start center")
            md-divider
            div.md-margin(layout-gt-sm="row" md-padding flex layout="column" layout-align="center center")
              md-card
                md-table-container
                  table(md-table md-progress="promise" style="border:2px")
                    thead(md-head)
                      tr(md-row)
                        th(md-column, md-text) Role Id
                        th(md-column, md-text) Role Title
                        th(md-column, md-text) Action
                    tbody(md-body)
                      tr(md-row ng-repeat="role in roles | filter:searchBox track by $index")
                        td(md-cell) {{role._id}}
                        td(md-cell) {{role.title}}
                        td(md-cell)
                          i.material-icons(ng-click="deleteRoleBtn($event, role)") delete
              md-card
                md-card-content
                  h5 Create New Role
                  p.sucess-text {{status}}
                  form.roles(method="post" enctype="multipart/form-data" ng-submit="createRoleBtn()")
                    md-input-container(md-block)
                      label Title
                      input(type="text" md-no-float placecholder="Enter your role here" ng-model="newRole.title" ng-required)
                    md-button.md-raised.md-accent(type="submit") Create
        md-tab(label='USERS')
          div(layout="row" style="background: whitesmoke")
            div.md-title.md-margin.text-center.admin-header(flex) USERS DASHBOARD
            .admin-search-bar(layout="row" layout-align="end end")
              input(type="text" ng-model="searchBox" placeholder="Search users")
          md-content.md-padding(layout-align="start center")
            md-divider
            div.md-margin(md-padding flex layout="column" layout-align="center center")
              md-card
                md-table-container
                  table(md-table md-progress="promise" style="border:2px")
                    thead(md-head)
                      tr(md-row)
                        th(md-column, md-text) User Id
                        th(md-column, md-text) UserName
                        th(md-column, md-text) FirstName
                        th(md-column, md-text) LastName
                        th(md-column, md-text) Email
                        th(md-column, md-text) Role
                        th(md-column, md-text) Actions
                    tbody(md-body)
                      tr(md-row ng-repeat="user in users | filter:searchBox track by $index")
                        td(md-cell) {{user._id}}
                        td(md-cell) {{user.userName}}
                        td(md-cell) {{user.name.firstName}}
                        td(md-cell) {{user.name.lastName}}
                        td(md-cell) {{user.email}}
                        td(md-cell) {{user.role}}
                        td(md-cell)
                          i.material-icons(ng-click="deleteUserBtn($event, user)") delete
              md-card
                md-card-content
                  h5 Manage Users
                  p.success-text {{status}}
                  form(method="post" enctype="multipart/form-data")
                    md-input-container(md-block)
                      label userName
                      input(type="text" md-no-float placecholder="Enter role" ng-model="newUser.userName" required)
                    md-input-container(md-block)
                      label firstName
                      input(type="text" md-no-float placecholder="Enter firstName" ng-model="newUser.firstName" ng-required)
                    md-input-container(md-block)
                      label lastName
                      input(type="text" md-no-float placecholder="Enter lastName" ng-model="newUser.lastName" ng-required)
                    md-input-container(md-block)
                      label email
                      input(type="email" md-no-float placecholder="Enter email" ng-model="newUser.email" ng-required)
                    md-input-container(md-block)
                      label password
                      input(type="password" md-no-float placecholder="Enter password" ng-model="newUser.password" ng-required)
                    md-input-container(md-block)
                      label role
                      md-select(ng-model="newUser.role" name="role.title" placeholder="select a role" required)
                        md-option(ng-repeat="role in roles" ng-value="role.title" ng-selected="role.title") {{role.title}}
                    div(layout="row")
                      md-button.md-raised.md-accent(type="submit" ng-click="createUserBtn()") Create
                      md-button.md-raised.md-primary(ui-sref="dashboard({id:loggedInUser._id})" style="width:70px;") Cancel
        md-tab(label='DOCUMENTS')
          div(layout="row" style="background: whitesmoke")
            div.md-title.md-margin.text-center.admin-header(flex) DOCUMENTS DASHBOARD
            .admin-search-bar(layout="row" layout-align="end end")
              input(type="text" ng-model="searchBox" placeholder="Search document")
          md-content.md-padding(layout-align="start center")
            md-divider
            div.md-margin(layout-gt-sm="row" md-padding flex layout="column" layout-align="center center")
            md-card
              md-table-container
                table.page-font(md-table style="border:2px")
                  thead(md-head)
                    tr(md-row)
                      th(md-column, md-text) DocNo Id
                      th(md-column, md-text) Role Assigned
                      th(md-column, md-text) Document Owner
                      th(md-column, md-text) Date Created
                      th(md-column, md-text) Date Modified
                      th(md-column, md-text) Document Title
                      th(md-column, md-text) Actions
                  tbody(md-body)
                    tr(md-row ng-repeat="doc in documents | filter:searchBox track by $index")
                      td(md-cell) {{doc._id}}
                      td(md-cell) {{doc.role}}
                      td(md-cell) {{user.userName}}
                      td(md-cell) {{doc.createdAt | date:'dd/mm/yyyy'}}
                      td(md-cell) {{doc.lastModified | date:'dd/mm/yyyy'}}
                      td(md-cell) {{doc.title}}
                      td(md-cell layout="row")
                        i.material-icons(ng-click="deleteDocBtn($event, doc)") delete
                        i.material-icons(ui-sref="dashboard.view-document({docid: doc._id})") pageview



