md-content(ng-if="loggedInUser" flex layout="row" layout-sm="column" layout-md="column")
  md-button.md-fab.create-document-btn(ui-sref="dashboard.document({id:loggedInUser._id})")
    span.fa.fa-plus.fa-lg
    md-tooltip(md-direction='left') create new document
  div(flex ng-if="!documents")
    h2.md-padding There are currently no documents. Start today
    md-divider(md-inset)

  div(ng-if="documents" layout="row" flex)
    div
      h2 Document View
    div.md-padding.md-margin(layout="row" layout-wrap)
      .doc-preview.grid-border(flex-gt-sm="33" layout-align="row" ng-repeat="doc in documents | orderBy: 'lastModified':true")
        h3.grid-header(layout-align="center center") {{doc.title}}
        div(layout="column" layout-align="start start" flex)
          | {{doc.content}}
          md-button.md-primary.md-raised(layout-align="end end" ui-sref="dashboard.view-document({docid: doc._id})") View more
        div(flex layout="column" layout-padding)
          h5 LastModified  on {{doc.lastModified | date: "dd/mm/yyyy 'at' h:mma"}}
          |by {{getName(doc.ownerId)}}



