.viewDocs(ng-if="loggedInUser" flex="100" ng-init="init(param)")
  md-button.md-fab.create-document-btn(ui-sref="dashboard.document({id:loggedInUser._id})")
    span.fa.fa-plus.fa-lg
    md-tooltip(md-direction='left') create new document
  div(flex)
    h4.md-padding(ng-if="documents.length === 0") There are currently no documents. Start today
    div(ng-if="documents.length > 0" layout="column")
      div.doc-container(layout="row" layout-align=" start center")
        div.doc-display(ng-repeat="doc in documents | orderBy:'-lastModified' track by $index")
          md-card.md-whiteframe-8dp
            md-card-title.md-headline.grid-header {{ doc.title }}
            span.post-info.md-subhead(flex layout="column" layout-padding)
              i.fa.fa-user &nbsp; Modified by {{ doc.ownerId[0].userName }}
              span {{ doc.lastModified | DateFormatter }}
            md-card-content.doc-content.md-margin(layout="column" layout-padding ng-bind-html="doc.content")
            md-card-actions.md-margin(layout="row" layout-align="end center" layout-padding layout-sm="column")
              md-button.preview-icons(ui-sref="dashboard.view-document({docid: doc._id})") View
              md-button.preview-icons(ui-sref="dashboard.edit-document({docid: doc._id})" ng-hide="!canEdit(doc)") Edit
      div.md-margin(layout="row" layout-align="end end")
        md-button.md-primary.page-button(ng-disabled="disablePreviousPage()" ng-click="previousPage()") Prev
        .paginate {{ param.page }} / {{ numberOfPages() }}
        md-button.md-primary.page-button(ng-disabled="disableNextPage()" ng-click="nextPage()") Next
