md-content.viewDocs(ng-if="loggedInUser" flex layout="row" layout-sm="column" layout-md="column")
  md-button.md-fab.create-document-btn(ui-sref="dashboard.document({id:loggedInUser._id})")
    span.fa.fa-plus.fa-lg
    md-tooltip(md-direction='left') create new document
  div(flex)
    h4.md-padding(ng-if="documents.length === 0") There are currently no documents. Start today
    div(ng-if="documents.length > 0" layout="column")
      div.md-margin(style="margin-bottom: -6px;" layout="row" layout-sm="column" flex)
        .preview-header(layout="start start")  DOCUMENTS VIEW
        md-button.md-primary.doc-no.all-doc Total documents {{ allDocCount }}
      div.doc-container(layout="row" layout-align="center start" layout-wrap)
        div.doc-display(ng-repeat="doc in documents | orderBy:'-lastModified' track by $index")
          md-card
            md-card-title.grid-header {{ doc.title }}
            md-divider
            div(layout="column" layout-align="start start")
            md-card-content.doc-content.md-margin(layout-padding ng-bind-html="doc.content" class="md-clickable")
            div(layout-align="column")
              div.md-card-actions.doc-operations(layout="row" layout-align="end center" flex)
                md-button.page-button(layout-align="end end" ui-sref="dashboard.view-document({docid: doc._id})") pageview
                  md-tooltip click to preview
                md-button.page-button(ng-hide="canEdit(doc) !== true" layout-align="end end" ui-sref="dashboard.edit-document({docid: doc._id})")
                  md-tooltip click to edit
              div.preview-footer(flex layout="column" layout-padding)
                h5 Modified {{ doc.lastModified | DateFormatter }}
                | by {{ doc.ownerId[0].userName }}
      div(layout="row" layout-align="end end")
        md-button.md-primary.page-button(ng-disabled="disablePreviousPage()" ng-click="previousPage()") Prev
        .paginate {{ param.page }} / {{ numberOfPages() }}
        md-button.md-primary.page-button(ng-disabled="disableNextPage()" ng-click="nextPage()") Next
