.docForm.md-padding(flex="90" layout-padding ng-cloak="")
  md-card.md-whiteframe-8dp
    md-card-title
      md-card-title-text
        span.preview-color.md-headline CREATE DOCUMENT
    md-content(layout-sm="column" flex="100" layout-align="center center" layout-padding)
      div(layout="column" flex)
        form(method="post" enctype="multipart/data" ng-submit="createDoc()")
          div(layout="column" flex)
            md-input-container(flex)
              input.change-input-view(type="text" ng-model="document.title" ng-required="true" placeholder="Enter yout title here" aria-label="document.title")
            div.adjust-text-area(text-angular ng-model="document.content" class="ta-editor" ta-text-editor-class="ta-editor border-around" ta-html-editor-class="border-around" placeholder="Enter your content here" ng-required="true" aria-label="document.content")
          div.success-status(layout-align="center center")
            | {{status}}
          div(layout="row" layout-align="center center")
            md-button.md-raised.md-accent(type="submit") Create
