.docForm(flex="80" layout-padding layout-align="center center" ng-cloak="")
  md-content(ng-controller="DocumentCtrl" layout-sm='column' flex='100' layout-align="center center")
    div(layout-align="center center" layout="row")
      h4 Create Document
    div(layout="column")

      form(method='post' enctype='multipart/data' ng-submit='createDoc()')
        md-input-container(flex)
          input(type='text' ng-model='document.title' ng-required='true' placeholder="Enter yout title here" aria-label='document.title')
        md-input-container(flex)
          textarea(type='text' rows="15" cols="15" ng-model='document.content' placeholder="Enter your content here" ng-required='true' aria-label='document.content')

        div.success-status
          | {{status}}

        div(layout="row" layout-align="center center")
          md-button.md-raised.md-accent(type="submit")
            i.material-icons create
            | Create
          md-button.md-raised.md-primary(ui-sref="dashboard({id:loggedInUser._id})")
            i.material-icons cancel
            | Cancel

