md-content(ng-controller="DocumentCtrl" layout='row', layout-md='column', layout-sm='column', flex='100')
  form(method='post', enctype='multipart/data', ng-submit='addDocument()')
    md-input-container(layout-padding)
      label
        i.fa.fa-list &nbsp;&nbsp;&nbsp;Title
      input(type='text', ng-model='document.title', ng-required='true', aria-label='document.title')
    md-input-container
      label
        i.fa.fa-list &nbsp;&nbsp;&nbsp;Content
      textarea(type='text', rows="50" cols="20" ng-model='document.content', ng-required='true', aria-label='document.content')

    div(layout="row" layout-align="center center")

      md-button.md-raised.md-accent(type='submit' ng-if="document.type === 'create'")
        i.fa.fa-plus-circle
        | Add
      md-button.md-raised.md-accent(type="submit" ng-if="document.type === 'edit'")
        i.material-icons create
      md-button.md-raised.md-accent(type="submit")
        i.matrial-icons cancel

