.docForm-view.md-padding(layout-align="center center" flex="75" ng-init="getDoc()")
  md-content(flex="100" layout-align="center center")
    form(name="view-form" method="post" layout-align="center center")
      div(layout="row")
        div(layout="row" layout-sm="column" layout-align="space-around")
          md-progress-circular(md-mode="determinate" value="{{determinateValue}}")
        div(flex layout="row" layout-align="end end")
          i.material-icons.back-icon(layout-align="start start" ui-sref="dashboard({id:loggedInUser._id})") arrow_back
            md-tooltip Go back
          span.md-margin.success-status {{status}}
        div(layout="row" layout-align="end end")
          i.material-icons.back-icon(ng-click="updateDoc($event)") save
            md-tooltip Update
          i.material-icons.back-icon(ng-click="deleteDoc($event)") delete_forever
            md-tooltip Delete
          i.material-icons.back-icon(ui-sref="dashboard({id:loggedInUser._id})")
            md-tooltip cancel
      md-divider(md-inset)
      .grid-header(layout-align="center center")
        h3 Document update
      div(layout="column")
        div(layout="row" align-wrap flex layout-align="start end")
          md-input-container.md-block(md-no-float flex)
            label
            input(ng-model="docDetail.title" ng-required placeholder="Your title goes here" aria-label="docDetail.title")
          md-input-container.md-block(md-no-float flex)
            md-select.md-padding.md-margin(placeholder="role" ng-model="loggedInUser.role" aria-label="role")
              md-option(ng-repeat="role in roles" ng-value="role.title" ng-required) {{role.title}}

        div(text-angular ng-model="docDetail.content" class="ta-editor" ta-text-editor-class="ta-editor border-around" ta-html-editor-class="border-around" placeholder="Enter your content here" ng-required="true" aria-label="docDetail.content")