.docForm-view.md-padding(layout-align="center center" flex="75" ng-init="getDoc()")
  md-card.md-whiteframe-8dp(flex="100" layout-align="center center")
    form(name="view-form" method="post" layout-align="center center")
      div(layout="column")
        md-card-title
          md-card-title-text
            span.preview-color.md-headline DOCUMENT UPDATE
        div(layout="row" align-wrap flex layout-align="start end" layout-padding)
          md-input-container.md-block(md-no-float flex)
            label
            input(ng-model="docDetail.title" ng-required placeholder="Your title goes here" aria-label="docDetail.title")
          md-input-container.md-block(md-no-float flex)
            md-select.md-padding.md-margin(placeholder="role" ng-model="loggedInUser.role" aria-label="role")
              md-option(ng-repeat="role in roles" ng-value="role.title" ng-required) {{role.title}}
        div.adjust-text-area(layout-padding text-angular ng-model="docDetail.content" class="ta-editor" ta-text-editor-class="ta-editor border-around" ta-html-editor-class="border-around" placeholder="Enter your content here" ng-required="true" aria-label="docDetail.content")
        md-button-actions(layout-gt-sm="row" layout-align="end center" flex)
          md-button.edit-button(ng-click="updateDoc($event)") save
          md-button.edit-button(ng-click="deleteDoc($event)") delete