.viewDocs(layout-padding ng-if="loggedInUser" flex md-scroll-y ng-init="getDoc()")
  md-card.md-whiteframe-8dp
    md-button.md-fab.create-document-btn(ui-sref="dashboard.document({id:loggedInUser._id})")
      span.fa.fa-plus.fa-lg
      md-tooltip(md-direction='left') create new document
    div(flex)
      div(layout-gt-sm="row")
      md-card-title.md-headline {{ docDetail.title }}
      span.post-info.md-subhead(flex layout="column" layout-padding)
        i.fa.fa-user &nbsp; Lastmodified by  {{ docDetail.ownerId[0].userName}}
        span {{ docDetail.lastModified | DateFormatter }}
      md-card-content.preview-content.md-margin(layout-padding ng-bind-html="docDetail.content" class="md-clickable")