.viewDocs(layout-padding ng-if="loggedInUser" flex md-scroll-y ng-init="getDoc()")
  md-card.md-whiteframe-8dp
    md-button.md-fab.create-document-btn(ui-sref="dashboard.document({id:loggedInUser._id})")
      span.fa.fa-plus.fa-lg
      md-tooltip(md-direction='left') create new document
    div(flex)
      div(layout-gt-sm="row")
        div(layout-gt-sm="row" flex)
          i.material-icons.back-icon(layout-align="end center" ui-sref="dashboard({ id:loggedInUser._id })") arrow_back
            md-tooltip Go back
          .preview-header(layout-align="center center" flex) DOCUMENT PREVIEW
      md-divider
      md-card-title.md-headline.grid-header {{ docDetail.title }}
      span.post-info.md-subhead(flex layout="column" layout-padding)
        i.fa.fa-user &nbsp; Lastmodified by  {{ docDetail.ownerId[0].userName}}
        span {{ docDetail.lastModified | DateFormatter }}
      md-card-content.preview-content.md-margin(ng-bind-html="docDetail.content" class="md-clickable")